html { height: 100%; width: 100%;}

body{
	padding: 0;
	margin: 0;
	background-image: url('../images/wild_oliva.png');
	font-family: sans-serif;
	font-size: 85%;
	width: 60em;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

body > header,
body > section,
body > footer,
body > nav {
	width: 55em;
	margin: 0 auto;
	background-image: url('../images/ecailles.png');
	background-color: #dbdbdb;
	padding: 2.5em;
	box-shadow:1px 1px 10px black;
	position: relative;
}

#map_canvas {
	width: 100%;
	height: 15em;
	position: absolute;
	top: 23em;
	margin: 0;
	padding: 0;
	left: -10000000em;

}

#map_canvas.show {
	left: 0;
	z-index: 100;
}

.event address {display: none;}

.event.enlarged{
	position: absolute;
	top: 10em;
	height: 15em;
	background-color: #333;
	width: 100%;
	margin: 0;
	padding: 0;
	left:0;
	z-index: 100;
}

.event.enlarged address{display: block;}

.event.enlarged > * {
	padding: 2em;
}

#escape{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .5;
	z-index: 2;
}
#escape.hidden{z-index: -10000; display: none; }

/* NEW! */
#banner {
	height: auto;
	border-bottom: 1px solid #A1A1A1;
	margin-bottom: 50px;
}
nav {
	margin
}
nav > ul {
	position: relative;
	list-style: none;
	font-size: 13px;
	margin: 0;
	text-transform: uppercase;
}
nav > ul > li {
	display: inline-block;
	margin: 0 0 0 25px;
	line-height: 45px;
}
nav > ul > li a {
	color: #4A4A4A;
}
nav > ul > li > a:hover {
	color: #CC3535;
}
nav > ul > li a.active {
	color: #000;
}

#eventcalendar > div {
	margin: auto;
	max-width: 200px;
	height: 120px;
	background-color: #FFF;
	border-radius: 8px;
}

#eventcalendar > div > header, #eventcalendar > div > footer {
	background-color: #246CF2;
	border-bottom: 1px solid #7FA8F5;
	border-radius: 8px 8px 0 0;
	color: #FFF;
	box-shadow: -2px 4px 2px -2px gray;
}

#eventcalendar > div > header > h3, #eventcalendar > div > footer, p {
	margin: 0;
	line-height: 24px;
	padding-left: 12px;
}
#eventcalendar > div > div {
	height: 70px;
	overflow-y: scroll;
}
#eventcalendar > div > footer {
	box-shadow: none;
	border-radius: 0 0 8px 8px;
}
#eventcalendar > div > footer > p {
}
.event {
	padding: 10px;
	border-bottom: 1px solid #B3B3B3;
}

.event h3 {
	margin: 0;
}